In [1]:
import xarray as xr
import pandas as pd
from pathlib import Path

from tabularbench.core.enums import BenchmarkOrigin
from tabularbench.data.metadata import create_metadata

metadata = create_metadata(benchmark_origin=BenchmarkOrigin.WHYTREES)
metadata

,openml_dataset_name,n_observations,n_train,n_val,n_test,n_features,n_splits,n_classes
openml_dataset_id,,,,,,,,
44055,analcatdata_supreme,4052,2836,364,852,7,5,10
44056,visualizing_soil,8641,6048,777,1816,4,3,40
44059,diamonds,53940,10000,13182,30758,9,1,11602
44061,Mercedes_Benz_Greener_Manufacturing,4209,2946,378,885,359,5,2545
44062,Brazilian_houses,10692,7484,962,2246,11,3,5751
44063,Bike_Sharing_Demand,17379,10000,2213,5166,11,2,869
44065,nyc-taxi-green-dec-2016,581835,10000,50000,50000,16,1,1811
44066,house_sales,21613,10000,3483,8130,17,1,4028
44068,particulate-matter-ukair-2017,394299,10000,50000,50000,6,1,21599
44069,SGEMM_GPU_kernel_performance,241600,10000,50000,50000,9,1,58161
44089,credit,16714,10000,2014,4700,10,2,2
44120,electricity,38474,10000,8542,19932,7,1,2
44121,covertype,566602,10000,50000,50000,10,1,2
44122,pol,10082,7057,907,2118,26,3,2
44123,house_16H,13488,9441,1214,2833,16,3,2
44125,MagicTelescope,13376,9363,1203,2810,10,3,2
44126,bank-marketing,10578,7404,952,2222,7,3,2
44128,MiniBooNE,72998,10000,18899,44099,50,1,2
44129,Higgs,940160,10000,50000,50000,24,1,2
44130,eye_movements,7608,5325,684,1599,20,3,2
44132,cpu_act,8192,5734,737,1721,21,3,56
44133,pol,15000,10000,1500,3500,26,2,11
44134,elevators,16599,10000,1979,4620,16,2,61
44136,wine_quality,6497,4547,585,1365,11,3,7
44137,Ailerons,13750,9625,1237,2888,33,3,35
44138,houses,20640,10000,3192,7448,8,1,3842
44139,house_16H,22784,10000,3835,8949,16,1,2045
44140,diamonds,53940,10000,13182,30758,6,1,11602
44141,Brazilian_houses,10692,7484,962,2246,8,3,5751
44142,Bike_Sharing_Demand,17379,10000,2213,5166,6,2,869
44143,nyc-taxi-green-dec-2016,581835,10000,50000,50000,9,1,1811
44144,house_sales,21613,10000,3483,8130,15,1,4028
44145,sulfur,10081,7056,907,2118,6,3,9368
44146,medical_charges,163065,10000,45919,50000,3,1,154891
44147,MiamiHousing2016,13932,9752,1254,2926,13,3,2111
44148,superconduct,21263,10000,3378,7885,79,1,3007
44156,electricity,38474,10000,8542,19932,8,1,2
44157,eye_movements,7608,5325,684,1599,23,3,2
44159,covertype,423680,10000,50000,50000,54,1,2
45019,Bioresponse,3434,2403,309,722,419,5,2
45020,default-of-credit-card-clients,13272,9290,1194,2788,20,3,2
45021,jannis,57580,10000,14274,33306,54,1,2
45022,Diabetes130US,71090,10000,18327,42763,7,1,2
45026,heloc,10000,7000,900,2100,22,3,2
45028,california,20634,10000,3190,7444,8,1,2
45032,yprop_4_1,8885,6219,799,1867,42,3,1336
45033,abalone,4177,2923,376,878,7,5,28
45034,delays_zurich_transport,5465575,10000,50000,50000,8,1,4082
45035,albert,58252,10000,14475,33777,31,1,2
45036,default-of-credit-card-clients,13272,9290,1194,2788,21,3,2
45038,road-safety,111762,10000,30528,50000,32,1,2
45039,compas-two-years,4966,3476,447,1043,11,3,2
45041,topo_2_1,8885,6219,799,1867,255,3,1336
45042,abalone,4177,2923,376,878,8,5,28
45043,seattlecrime6,52031,10000,12609,29422,4,1,29
45045,delays_zurich_transport,5465575,10000,50000,50000,11,1,4082
45046,Allstate_Claims_Severity,188318,10000,50000,50000,124,1,158223
45047,Airlines_DepDelay_1M,1000000,10000,50000,50000,5,1,629
45048,medical_charges,163065,10000,45919,50000,3,1,154891

In [2]:
from tabularbench.data.benchmarks import BENCHMARKS, BenchmarkName

ids_used_in_paper_numerical = BENCHMARKS[BenchmarkName.NUMERICAL_CLASSIFICATION].openml_dataset_ids
ids_used_in_paper_categorical = BENCHMARKS[BenchmarkName.CATEGORICAL_CLASSIFICATION].openml_dataset_ids

ids_used_in_paper = ids_used_in_paper_numerical + ids_used_in_paper_categorical
ids_used_in_paper.sort()

metadata = metadata.loc[ids_used_in_paper]
metadata

,openml_dataset_name,n_observations,n_train,n_val,n_test,n_features,n_splits,n_classes
openml_dataset_id,,,,,,,,
44089,credit,16714,10000,2014,4700,10,2,2
44120,electricity,38474,10000,8542,19932,7,1,2
44121,covertype,566602,10000,50000,50000,10,1,2
44122,pol,10082,7057,907,2118,26,3,2
44123,house_16H,13488,9441,1214,2833,16,3,2
44125,MagicTelescope,13376,9363,1203,2810,10,3,2
44126,bank-marketing,10578,7404,952,2222,7,3,2
44128,MiniBooNE,72998,10000,18899,44099,50,1,2
44129,Higgs,940160,10000,50000,50000,24,1,2
44130,eye_movements,7608,5325,684,1599,20,3,2
44156,electricity,38474,10000,8542,19932,8,1,2
44157,eye_movements,7608,5325,684,1599,23,3,2
44159,covertype,423680,10000,50000,50000,54,1,2
45019,Bioresponse,3434,2403,309,722,419,5,2
45020,default-of-credit-card-clients,13272,9290,1194,2788,20,3,2
45021,jannis,57580,10000,14274,33306,54,1,2
45022,Diabetes130US,71090,10000,18327,42763,7,1,2
45026,heloc,10000,7000,900,2100,22,3,2
45028,california,20634,10000,3190,7444,8,1,2
45035,albert,58252,10000,14475,33777,31,1,2
45036,default-of-credit-card-clients,13272,9290,1194,2788,21,3,2
45038,road-safety,111762,10000,30528,50000,32,1,2
45039,compas-two-years,4966,3476,447,1043,11,3,2

In [3]:
metadata['openml_dataset_name'].str

In [4]:
metadata.loc[metadata['openml_dataset_name'].str.len() > 15, 'openml_dataset_name'] = metadata[metadata['openml_dataset_name'].str.len() > 15]['openml_dataset_name'].str[:15] + '...'

In [5]:
print(metadata.to_latex(escape=True))

\begin{tabular}{llrrrrrrr}
\toprule
 & openml\_dataset\_name & n\_observations & n\_train & n\_val & n\_test & n\_features & n\_splits & n\_classes \\
openml_dataset_id &  &  &  &  &  &  &  &  \\
\midrule
44089 & credit & 16714 & 10000 & 2014 & 4700 & 10 & 2 & 2 \\
44120 & electricity & 38474 & 10000 & 8542 & 19932 & 7 & 1 & 2 \\
44121 & covertype & 566602 & 10000 & 50000 & 50000 & 10 & 1 & 2 \\
44122 & pol & 10082 & 7057 & 907 & 2118 & 26 & 3 & 2 \\
44123 & house\_16H & 13488 & 9441 & 1214 & 2833 & 16 & 3 & 2 \\
44125 & MagicTelescope & 13376 & 9363 & 1203 & 2810 & 10 & 3 & 2 \\
44126 & bank-marketing & 10578 & 7404 & 952 & 2222 & 7 & 3 & 2 \\
44128 & MiniBooNE & 72998 & 10000 & 18899 & 44099 & 50 & 1 & 2 \\
44129 & Higgs & 940160 & 10000 & 50000 & 50000 & 24 & 1 & 2 \\
44130 & eye\_movements & 7608 & 5325 & 684 & 1599 & 20 & 3 & 2 \\
44156 & electricity & 38474 & 10000 & 8542 & 19932 & 8 & 1 & 2 \\
44157 & eye\_movements & 7608 & 5325 & 684 & 1599 & 23 & 3 & 2 \\
44159 & covertype & 423680 & 10000 & 50000 & 50000 & 54 & 1 & 2 \\
45019 & Bioresponse & 3434 & 2403 & 309 & 722 & 419 & 5 & 2 \\
45020 & default-of-cred... & 13272 & 9290 & 1194 & 2788 & 20 & 3 & 2 \\
45021 & jannis & 57580 & 10000 & 14274 & 33306 & 54 & 1 & 2 \\
45022 & Diabetes130US & 71090 & 10000 & 18327 & 42763 & 7 & 1 & 2 \\
45026 & heloc & 10000 & 7000 & 900 & 2100 & 22 & 3 & 2 \\
45028 & california & 20634 & 10000 & 3190 & 7444 & 8 & 1 & 2 \\
45035 & albert & 58252 & 10000 & 14475 & 33777 & 31 & 1 & 2 \\
45036 & default-of-cred... & 13272 & 9290 & 1194 & 2788 & 21 & 3 & 2 \\
45038 & road-safety & 111762 & 10000 & 30528 & 50000 & 32 & 1 & 2 \\
45039 & compas-two-year... & 4966 & 3476 & 447 & 1043 & 11 & 3 & 2 \\
\bottomrule
\end{tabular}

In [6]:
metadata = create_metadata(BenchmarkOrigin.TABZILLA)
metadata

,openml_dataset_name,n_observations,n_train,n_val,n_test,n_features,n_splits,n_classes
openml_dataset_id,,,,,,,,
3,kr-vs-kp,3196,2556,320,320,36,10,2
4,labor,57,45,6,6,16,10,2
5,arrhythmia,452,360,46,46,279,10,13
6,letter,20000,16000,2000,2000,16,10,26
7,audiology,226,180,23,23,69,10,24
...,...,...,...,...,...,...,...,...
189355,dionis,416188,332950,41619,41619,60,10,355
189356,albert,425240,340192,42524,42524,78,10,2
190408,Click_prediction_small,39948,31958,3995,3995,11,10,2
190410,philippine,5832,4664,584,584,308,10,2
360948,libras,360,288,36,36,104,10,10

In [7]:
from tabularbench.data.benchmarks import BENCHMARKS, BenchmarkName

ids_used_in_paper = BENCHMARKS[BenchmarkName.TABZILLA_HAS_COMPLETED_RUNS].openml_dataset_ids

metadata = metadata.loc[ids_used_in_paper]
metadata

,openml_dataset_name,n_observations,n_train,n_val,n_test,n_features,n_splits,n_classes
openml_dataset_id,,,,,,,,
3,kr-vs-kp,3196,2556,320,320,36,10,2
4,labor,57,45,6,6,16,10,2
9,autos,205,163,21,21,25,10,6
10,lymph,148,118,15,15,18,10,4
11,balance-scale,625,499,63,63,4,10,3
...,...,...,...,...,...,...,...,...
167141,churn,5000,4000,500,500,20,10,2
167211,Satellite,5100,4080,510,510,36,10,2
168911,jasmine,2984,2386,299,299,144,10,2
190408,Click_prediction_small,39948,31958,3995,3995,11,10,2
360948,libras,360,288,36,36,104,10,10

In [8]:
metadata.loc[metadata['openml_dataset_name'].str.len() > 15, 'openml_dataset_name'] = metadata[metadata['openml_dataset_name'].str.len() > 15]['openml_dataset_name'].str[:15] + '...'

In [9]:
print(metadata.to_latex(escape=True))

\begin{tabular}{llrrrrrrr}
\toprule
 & openml\_dataset\_name & n\_observations & n\_train & n\_val & n\_test & n\_features & n\_splits & n\_classes \\
openml_dataset_id &  &  &  &  &  &  &  &  \\
\midrule
3 & kr-vs-kp & 3196 & 2556 & 320 & 320 & 36 & 10 & 2 \\
4 & labor & 57 & 45 & 6 & 6 & 16 & 10 & 2 \\
9 & autos & 205 & 163 & 21 & 21 & 25 & 10 & 6 \\
10 & lymph & 148 & 118 & 15 & 15 & 18 & 10 & 4 \\
11 & balance-scale & 625 & 499 & 63 & 63 & 4 & 10 & 3 \\
12 & mfeat-factors & 2000 & 1600 & 200 & 200 & 216 & 10 & 10 \\
14 & mfeat-fourier & 2000 & 1600 & 200 & 200 & 76 & 10 & 10 \\
15 & breast-w & 699 & 559 & 70 & 70 & 9 & 10 & 2 \\
16 & mfeat-karhunen & 2000 & 1600 & 200 & 200 & 64 & 10 & 10 \\
18 & mfeat-morpholog... & 2000 & 1600 & 200 & 200 & 6 & 10 & 10 \\
23 & cmc & 1473 & 1177 & 148 & 148 & 9 & 10 & 3 \\
25 & colic & 368 & 294 & 37 & 37 & 26 & 10 & 2 \\
27 & colic & 368 & 294 & 37 & 37 & 22 & 10 & 2 \\
29 & credit-approval & 690 & 552 & 69 & 69 & 15 & 10 & 2 \\
30 & page-blocks & 5473 & 4377 & 548 & 548 & 10 & 10 & 5 \\
35 & dermatology & 366 & 292 & 37 & 37 & 34 & 10 & 6 \\
37 & diabetes & 768 & 614 & 77 & 77 & 8 & 10 & 2 \\
39 & sonar & 208 & 166 & 21 & 21 & 60 & 10 & 2 \\
40 & glass & 214 & 170 & 22 & 22 & 9 & 10 & 6 \\
43 & spambase & 4601 & 3680 & 460 & 461 & 57 & 10 & 2 \\
45 & splice & 3190 & 2552 & 319 & 319 & 60 & 10 & 3 \\
47 & tae & 151 & 120 & 15 & 16 & 5 & 10 & 3 \\
48 & heart-c & 303 & 241 & 31 & 31 & 13 & 10 & 2 \\
49 & tic-tac-toe & 958 & 766 & 96 & 96 & 9 & 10 & 2 \\
50 & heart-h & 294 & 234 & 30 & 30 & 13 & 10 & 2 \\
53 & vehicle & 846 & 676 & 85 & 85 & 18 & 10 & 4 \\
59 & iris & 150 & 120 & 15 & 15 & 4 & 10 & 3 \\
2074 & satimage & 6430 & 5144 & 643 & 643 & 36 & 10 & 6 \\
2079 & eucalyptus & 736 & 588 & 74 & 74 & 19 & 10 & 5 \\
2867 & anneal & 898 & 718 & 90 & 90 & 38 & 10 & 5 \\
3485 & scene & 2407 & 1925 & 241 & 241 & 299 & 10 & 2 \\
3512 & synthetic\_contr... & 600 & 480 & 60 & 60 & 60 & 10 & 6 \\
3540 & analcatdata\_box... & 120 & 96 & 12 & 12 & 3 & 10 & 2 \\
3543 & irish & 500 & 400 & 50 & 50 & 5 & 10 & 2 \\
3549 & analcatdata\_aut... & 841 & 672 & 84 & 85 & 70 & 10 & 4 \\
3560 & analcatdata\_dmf... & 797 & 637 & 80 & 80 & 4 & 10 & 6 \\
3561 & profb & 672 & 536 & 68 & 68 & 9 & 10 & 2 \\
3602 & visualizing\_env... & 111 & 88 & 11 & 12 & 3 & 10 & 2 \\
3620 & fri\_c0\_100\_5 & 100 & 80 & 10 & 10 & 5 & 10 & 2 \\
3647 & rabe\_266 & 120 & 96 & 12 & 12 & 2 & 10 & 2 \\
3711 & elevators & 16599 & 13279 & 1660 & 1660 & 18 & 10 & 2 \\
3731 & visualizing\_liv... & 130 & 104 & 13 & 13 & 2 & 10 & 2 \\
3739 & analcatdata\_chl... & 100 & 80 & 10 & 10 & 3 & 10 & 2 \\
3748 & transplant & 131 & 104 & 13 & 14 & 3 & 10 & 2 \\
3779 & fri\_c3\_100\_5 & 100 & 80 & 10 & 10 & 5 & 10 & 2 \\
3797 & socmob & 1156 & 924 & 116 & 116 & 5 & 10 & 2 \\
3896 & ada\_agnostic & 4562 & 3648 & 457 & 457 & 48 & 10 & 2 \\
3902 & pc4 & 1458 & 1166 & 146 & 146 & 37 & 10 & 2 \\
3903 & pc3 & 1563 & 1249 & 157 & 157 & 37 & 10 & 2 \\
3904 & jm1 & 10885 & 8707 & 1089 & 1089 & 21 & 10 & 2 \\
3913 & kc2 & 522 & 416 & 53 & 53 & 21 & 10 & 2 \\
3917 & kc1 & 2109 & 1687 & 211 & 211 & 21 & 10 & 2 \\
3918 & pc1 & 1109 & 887 & 111 & 111 & 21 & 10 & 2 \\
3953 & adult-census & 32561 & 26048 & 3256 & 3257 & 14 & 10 & 2 \\
9946 & wdbc & 569 & 455 & 57 & 57 & 30 & 10 & 2 \\
9952 & phoneme & 5404 & 4322 & 541 & 541 & 5 & 10 & 2 \\
9957 & qsar-biodeg & 1055 & 843 & 106 & 106 & 41 & 10 & 2 \\
9960 & wall-robot-navi... & 5456 & 4364 & 546 & 546 & 24 & 10 & 4 \\
9964 & semeion & 1593 & 1273 & 160 & 160 & 256 & 10 & 10 \\
9971 & ilpd & 583 & 465 & 59 & 59 & 10 & 10 & 2 \\
9978 & ozone-level-8hr & 2534 & 2026 & 254 & 254 & 72 & 10 & 2 \\
9984 & fertility & 100 & 80 & 10 & 10 & 9 & 10 & 2 \\
10089 & acute-inflammat... & 120 & 96 & 12 & 12 & 6 & 10 & 2 \\
10093 & banknote-authen... & 1372 & 1096 & 138 & 138 & 4 & 10 & 2 \\
10101 & blood-transfusi... & 748 & 598 & 75 & 75 & 4 & 10 & 2 \\
14952 & PhishingWebsite... & 11055 & 8843 & 1106 & 1106 & 30 & 10 & 2 \\
14954 & cylinder-bands & 540 & 432 & 54 & 54 & 37 & 10 & 2 \\
14965 & bank-marketing & 45211 & 36168 & 4521 & 4522 & 16 & 10 & 2 \\
14967 & cjs & 2796 & 2236 & 280 & 280 & 33 & 10 & 6 \\
125920 & dresses-sales & 500 & 400 & 50 & 50 & 12 & 10 & 2 \\
125921 & LED-display-dom... & 500 & 400 & 50 & 50 & 7 & 10 & 10 \\
145793 & yeast & 1269 & 1015 & 127 & 127 & 8 & 10 & 4 \\
145799 & breast-cancer & 286 & 228 & 29 & 29 & 9 & 10 & 2 \\
145836 & blood-transfusi... & 748 & 598 & 75 & 75 & 4 & 10 & 2 \\
145847 & hill-valley & 1212 & 968 & 122 & 122 & 100 & 10 & 2 \\
145977 & ecoli & 336 & 268 & 34 & 34 & 7 & 10 & 8 \\
145984 & ionosphere & 351 & 280 & 35 & 36 & 34 & 10 & 2 \\
146024 & lung-cancer & 32 & 24 & 4 & 4 & 56 & 10 & 3 \\
146063 & hayes-roth & 160 & 128 & 16 & 16 & 4 & 10 & 3 \\
146065 & monks-problems-... & 601 & 480 & 60 & 61 & 6 & 10 & 2 \\
146192 & car-evaluation & 1728 & 1382 & 173 & 173 & 21 & 10 & 4 \\
146210 & postoperative-p... & 88 & 70 & 9 & 9 & 8 & 10 & 2 \\
146607 & SpeedDating & 8378 & 6702 & 838 & 838 & 120 & 10 & 2 \\
146800 & MiceProtein & 1080 & 864 & 108 & 108 & 77 & 10 & 8 \\
146817 & steel-plates-fa... & 1941 & 1552 & 194 & 195 & 27 & 10 & 7 \\
146818 & Australian & 690 & 552 & 69 & 69 & 14 & 10 & 2 \\
146820 & wilt & 4839 & 3871 & 484 & 484 & 5 & 10 & 2 \\
146821 & car & 1728 & 1382 & 173 & 173 & 6 & 10 & 4 \\
167140 & dna & 3186 & 2548 & 319 & 319 & 180 & 10 & 3 \\
167141 & churn & 5000 & 4000 & 500 & 500 & 20 & 10 & 2 \\
167211 & Satellite & 5100 & 4080 & 510 & 510 & 36 & 10 & 2 \\
168911 & jasmine & 2984 & 2386 & 299 & 299 & 144 & 10 & 2 \\
190408 & Click\_predictio... & 39948 & 31958 & 3995 & 3995 & 11 & 10 & 2 \\
360948 & libras & 360 & 288 & 36 & 36 & 104 & 10 & 10 \\
\bottomrule
\end{tabular}